# Don't put comments after version numbers. Use these comment lines instead.

# (4.1.2.30 recommended for best GUI keyboard interaction, see this note)
opencv-python>=3.4
matplotlib>=3.1
numpy>=1.18

# added
pytest
scipy
pandas
scikit-surgerycore
plotly
open3d
